.place__title {
    align-self: end;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5em;
    line-height: 1.06;
    text-align: left;
    grid-area: title;
    color: #FFFFFF;
    }

    @media screen and (max-width : 1024px) {
        .place__title {
            font-size: 4.5em;
            line-height: 1.06;

        }
    }
    
    @media screen and (max-width : 768px) {
        .place__title {
            font-size: 2.625em;
            line-height: 1.1; 
            margin-bottom: 32px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    
    @media screen and (max-width : 320px) {
        .place__title {
            font-size: 2em;
            line-height: 1.09; 
            margin-bottom: 32px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }


