.places {
    box-sizing: border-box;
    max-width: 984px;
    margin: 0 auto 92px;
   
}

@media screen and (max-width : 1024px) {
    .places {
        max-width: 928px;
        margin: 0 auto 5.75rem;
    }
}

@media screen and (max-width : 768px) {
    .places {
        max-width: 720px;
        margin: 0 auto 5.5rem;
    }
}

@media screen and (max-width : 320px) {
    .places {
        max-width: 320px;
        margin: 0 auto 4rem;
    }
}