.place__image{
    width: 46.748%;
    height: auto;
    order: 3;
    }

    @media screen and (max-width : 1024px) {
        .place__image {
            width: 47.414%;

        }
    }
    
    @media screen and (max-width : 768px) {
        .place__image {
            width: 47.222%; 
        }
    }
    
   @media screen and (max-width : 440px) {
        .place__image {
            width: 100%; 
            margin-bottom: 32px;
        }
    }

