.intro__list-item {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: left;
    color: #FFFFFF;
}