@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    box-sizing: border-box;
    max-width: 984px;
    margin: 0 auto 92px; 

}

@media screen and (max-width : 1024px) {
    .lead {
       max-width: 928px;
    }
}

@media screen and (max-width : 768px) {
    .lead {
        width: 100%;
        margin: 0;
        margin-bottom: 88px;
    }
}

@media screen and (max-width : 320px) {
    .lead {
        max-width: 100%;
        margin: 0;
        margin-bottom: 64px;
    }
}