@import url(./__logo/header__logo.css);
@import url(../lang/lang.css);

.header {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    max-width: 1184px;
    width: 100%;
    margin: 0 auto 56px;
    padding-top: 1.688rem;
    display: flex;
    justify-content: space-between;
    background-color: #2A2C2F;
}

@media screen and (max-width : 1024px) {
    .header {
        max-width: 928px;
        padding-top: 1.75rem;
        margin: 0 auto 48px;
    }
}

@media screen and (max-width : 768px) {
    .header {
        max-width: 720px;
        padding-top: 1.75rem;
    }
}

@media all and (max-width : 320px) {
    .header {
        max-width: 288px;
        padding-top: 1rem;
    }
}
