    .place__text {
        width: 49.187%;
        margin: 0;
        padding: 0;
        
        order: 4;
    }

    @media screen and (max-width : 1024px) {
        .place__text {
            width: 49.138%;
    
        }
    }
    
    @media screen and (max-width : 768px) {
        .place__text {
            width: 48.889%; 
        }
    }
    
    @media screen and (max-width : 440px) {
        .place__text {
            width: 100%; 
        }
    }
    




  