@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list/intro__list-item.css);


.intro {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    box-sizing: border-box;
    width: 53.91%;
    margin: 5.75rem 9.25rem 0; 
}

@media screen and (max-width : 1024px) {
    .intro {
        width: 67.383%;
        margin: 5.75rem 3rem 0;
    }
}

@media screen and (max-width : 768px) {
    .intro {
        width: 93.75%;
        margin: 5.5rem 1.5rem 0;
    }
}


@media screen and (max-width : 320px) {
    .intro {
        max-width: 90%;
        margin: 4rem 1rem 0;
    }
}