@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    width: 92.5%;
    margin: 0 3rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #2A2C2F;
  }

  @media screen and (max-width : 1024px) {
    .footer {
        width: 90.625%;
        margin: 0 3rem;
    }
}

@media screen and (max-width : 768px) {
    .footer {
        width: 93.75%;
        margin: 0 3rem;
    }
}

@media screen and (max-width : 425px) {
    .footer {
        flex-direction: column;
        width: 58.125%;
        margin: 0 1rem;
    }
}

@media screen and (max-width : 320px) {
    .footer {
        flex-direction: column;
        width: 68.125%;
        margin: 0 1rem;
    }
}