.place__website {
    width: 100%;
    padding: 0;
    margin: 0;
    grid-area: website;
    justify-self: start;
    align-self: end;   
}

@media screen and (max-width : 425px) {
    .place__website {
        display: none; 
    }
}

@media screen and (max-width : 320px) {
    .place__website {
        display: none; 
    }
}