.place__website {
    width: 49.187%;
    padding: 0;
    margin: 0;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    order: 2;
}

@media screen and (max-width : 1024px) {
    .place__website {
        width: 49.138%;

    }
}

@media screen and (max-width : 768px) {
    .place__website {
        width: 48.889%; 
    }
}

@media screen and (max-width : 425px) {
    .place__website {
        display: none; 
    }
}

